<h2>ویرایش پرسنل</h2>
<div class="container bg-light py-3">
    <div *ngIf="firstNameControl?.invalid && (firstNameControl?.dirty || firstNameControl?.touched)"
        class="alert alert-danger">
        <div *ngIf="firstNameControl?.errors?.['required']">
            نام را وارد نمایید
        </div>
    </div>
    <div *ngIf="lastNameControl?.invalid && (lastNameControl?.dirty || lastNameControl?.touched)" class="alert alert-danger">
        <div *ngIf="lastNameControl?.errors?.['required']">
            نام خانوادگی را وارد نمایید
        </div>
    </div>
    <div *ngIf="ageControl?.invalid && (ageControl?.dirty || ageControl?.touched)"
        class="alert alert-danger">
        <div *ngIf="ageControl?.errors?.['required']">
            سن را وارد نمایید
        </div>
    </div>
    <div *ngIf="mobileControl?.invalid && (mobileControl?.dirty || mobileControl?.touched)"
        class="alert alert-danger">
        <div *ngIf="mobileControl?.errors?.['required']">
            شماره موبایل را وارد نمایید
        </div>
        <div *ngIf="mobileControl?.errors?.['minlength']">
            شماره موبایل باید {{mobileControl?.errors?.['minlength'].requiredLength}} رقم باشد
        </div>
        <div *ngIf="mobileControl?.errors?.['maxlength']">
            شماره موبایل باید {{mobileControl?.errors?.['maxlength'].requiredLength}} رقم باشد
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <input type="hidden" formControlName="idControl">
        <div class="form-group">
            <label for="firstNameControl">نام</label>
            <input type="text" class="form-control" formControlName="firstNameControl">
        </div>
        <div class="form-group">
            <label for="lastNameControl">نام خانوادگی</label>
            <input type="text" class="form-control" formControlName="lastNameControl">
        </div>
        <div class="form-group">
            <label for="ageControl">سن</label>
            <input type="text" class="form-control" formControlName="ageControl">
        </div>
        <div class="form-group">
            <label for="mobileControl">موبایل</label>
            <input type="text" class="form-control" formControlName="mobileControl">
        </div>
        <div><button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid">ثبت</button></div>
    </form>
    <div class="text-left">
        <a [routerLink]="[personnelIndexUrl]" class="btn btn-outline-secondary mt-3">بازگشت</a>
    </div>
</div>